* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

ul, ol {
	margin: 2px 10px 2px 10px;
	padding: 0;
	list-style-position: inside;
}

li {
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.products .items .card-img-top{
	height: auto;
	object-fit: cover;
}

.line {
	border-top: 1px solid lightslategrey;
	opacity: 30%;
}

.tangerine{
	font-family: 'Tangerine', cursive;
}

.montserrat{
	font-family: 'Montserrat', sans-serif;
}

#billede{
	width: 60%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.container{
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.footer{
	width: 100%;
	height: 300px;
	bottom: 0;
	position: sticky;
}

.nav {
	display: flex;
	width: 100%;
	height: 300px;
	top: 0;
	position: fixed;
}